/* 
    Document   : user_signup
    Created on : 10 Feb, 2023, 8:32:40 PM
    Author     : PRACHI
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body
{
   
   
        background-image: url(images/back3.jpg);
        background-size: cover;
        background-repeat: no-repeat;       
         margin-top: 20px;
   }   
      


.whitediv
{
    height: 65%;
    width: 50%;
    margin: 3% 0 0 27%;
    background-color: white;
    border-style: solid;
    border-color: gray;
    border-width: 5px;
    border-radius:10px;
  
}
.title
{
 height: 40px;
 width: 250px;
 margin-top: 2%;
 margin-left: 30%;
 background-color:navy;
 border-radius:10px;
 
}
.titlelable
{
    font-weight: bold;
    color: wheat;
    padding-top: 2.5%;
 }
 
 .innerlabel
 {
     margin-top: 10%;
     font-weight: bold;
     color: black;
     margin-left: 20%;
     
 }
.textbox
{
    margin-top: 5%;
    margin-left: 2%;
    height: 35px;
    width: 300px;
}

.signupbutton
{
    background-color: #ff0066;
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 5px;
    margin-top: 25px; 
    margin-left:-10px;
}
.signupbutton:hover
{
    background-color: blue;
}
.signuplink
{
    margin: 0 0 0 32%;
    
}
.signuplink:hover
{
 color: white;    
}



